<html>
  <head>
  </head>
  <body>{% extends "base.html" %}
    {% block content %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>What We Do</title>
    <div style="height:500px;width:60%;background-color:powderblue;margin:auto;text-align:center;padding: 10px 40px 10px 40px">
      <br>
      <h2><span style="font-family: Helvetica,Arial,sans-serif;">What We Do</span></h2>
      <p> <span style="font-family: Helvetica,Arial,sans-serif;">In the fall of
          2019, we decided to get together and create a simple tool that could
          provide some insight on specific stocks so users can determine whether
          or not to invest. <br>
          <br>
          We used a combination of Python, JavaScript, and web dev shit to get
          this working. <br>
          <br>
          Thank you for testing out our project. <br>
          <br>
          <em>Daniel Li<br>
            David Chen<br>
            Rohit Lakshman</em> </span></p>
    </div>
    {% endblock %}
  </body>
</html>
