{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Stock Analyzer</title>
</head>

<body>
    <div style="height:500px;width:60%;background-color:#88d3a5;margin:auto;text-align:center;padding: 10px 40px 10px 40px">
        <br>
        <h3><span style="font-family: Helvetica,Arial,sans-serif;">Welcome to
          StockAnalyzer</span></h3>
        <h4> <span style="font-family: Helvetica,Arial,sans-serif;">To start,
          please enter the desired stock ticker that you would like to analyze<br>
          (For example, use "AAPL" for Apple)</span> </h4>
        <form method="POST"> <input name="ticker"> <input type="submit"> </form>
        {% if score %}
        <p> <span style="font-family: Helvetica,Arial,sans-serif;">Sentiment
          Score for {{ ticker }}: </span></p>
        <span style="font-family: Helvetica,Arial,sans-serif;">{{ score }}
        </span></div>
    {% endif %}
    <br>
</body>

</html>
{% endblock %}